a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}
body {
	margin: 0; padding: 0;
    height: 100%; width: 100%;
    background-color: #202020;
    background-image: url('../img/bg.png');
}
h1,h2 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    margin: 0; padding: 0;
    text-shadow: 1px 1px 5px #000;
    text-align: center;
    text-transform: uppercase;
}
h1 {
    font-size: 4em;
    text-transform: uppercase;
    color: #fff;
}
h2 {
    font-size: 2em;
    color: inherit;
}
hr {
    margin: 30px 40% 30px 40%;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
}
html {
	height: 100%;
}
p {
    font-family: 'Cantarell', sans-serif;
    font-size: 0;
    margin: 0;
    text-align: center;
}

/* Navigation Bar */
.navBar {
    width: 100%; height: 100px;
    position: absolute;
    top: 0; left: 0;
    text-align: center;
}
.navBar-center {
    width: 100%; height: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.navLogo {
    height: 90px; margin: 5px 5px 5px 100px;
}
.navBar-text {
    font-size: 22px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px #000;
    line-height: 100px;
    transition: 0.5s;
}
.navBar-text.sep {
    color: #FFCB4D;
    margin: 0 10px;
}
.navBar-text:hover {
    color: #FFCB4D;
    margin: 0 10px;
}
@keyframes store {
    0% {color: #fff;}
    50% {color: #00ff00;}
    100% {color: #fff;}
}
#thestore {
    animation: store 4s infinite;
}

/* General Classes */
.container {
    width: 100%; height: 100%;
}

/* Welcome */
.bgVid {
    position: fixed;
    right: 0; bottom: 0;
    min-width: 100%;  min-height: 100%;
    z-index: -1000; 
    overflow: hidden;
    opacity: 0.2;
}
.welcome {
    width: 100%; height: 100%;
    display: block;
}
.kebab {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.kebabLogo {
    width: 400px; height: 400px;
    display: block;
    margin: 0 auto 40px auto;
    background-image: url('../img/uuoohh.gif');
    background-size: cover;
}
.arrow {
    position: absolute;
    bottom: 10px; left: 50%;
    transform: translateX(-50%);
    width: 60px; height: 60px;
}

/* Promote */
#promote {
    width: 170px; height: 170px;
    position: absolute;
    top: 20%;
    right: 5%;
    border-radius: 20px;
    animation: WOWOWOEIIEOWOIEWOWOWIWIOOW 3s infinite;
}
@keyframes WOWOWOEIIEOWOIEWOWOWIWIOOW {
    0% {width: 400px;}
    50% {width: 170px}
    100% {width: 400px;}
}

/* Content */
.content {
    text-align: center;
    padding: 5em 5%;
    background-color: #101010;
    border-top: 5px solid #FFCB4D;
}
.content-cont {
    display: block;
    margin: 0 auto;
    color: #fff;
    font-size: 0;
}
.content-text {
    font-size: 26px;
    font-family: 'Anton', sans-serif;
    padding: 0.3em;
    text-transform: uppercase;
    text-shadow: #000 1px 1px 1px;
}
.cunnyLogo {
    width: 350px; height: 350px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    background-image: url('../img/logo.png');
    background-size: cover;
}

/* Reviews */
.reviews {
    text-align: center;
    padding: 3em 5%;
    background-color: #FFCB4D;
    color: #fff;
}
.reviews-cont {
    width: 530px; 
    height: 150px;
    display: inline-block;
    vertical-align: top;
    padding: 15px 0;
    margin: 0 15px;
}
.quote {
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.star {
    padding-top: 10px;
    font-size: 30px;
}

/* Download */
.download {
    text-align: center;
    padding: 5em 5%;
    background-color: #101010;
}
.button {
    background: #F45C00;
    color: #fff;
    border: #FFCB4D solid 2px;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.5em 1.4em;
    cursor: pointer;
}

/* Lore */
.loreCont {
    width: 100%; height: 100%;
    background-color: #35b88f;
    background-image: url('../store/banner.svg');
    background-position: center;
    background-size: cover;
    text-align: center;
}
.t44center {
    display: block;
    height: 45%; width: 100%;
    text-align: center;
}
.t44button {
    display:inline-block;
    vertical-align: top;
    width: 250px;
    height: 60px;
    background: #45f1bb;
    border: 3px solid #74ffd3;
    font-family: 'Major Mono Display', monospace;
    font-size: 20px;
    margin: 0 30px;
    text-transform: lowercase;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s all;
}
.t44button:hover {
    transform: scale(1.05);
    border: 6px solid #74ffd3;
}

/* Mobile CSS */
@media screen and (max-width: 1080px) { 
    h1 {
        font-size: 34px;
    }
    .navBar-text {
        font-size: 11px;
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        text-transform: uppercase;
        text-shadow: 1px 1px 3px #000;
        line-height: 100px;
        transition: 0.5s;
    }
    .kebabLogo {
        width: 270px;
        height: 270px;
    }
    .cunnyLogo {
        width: 250px;
        height: 250px;
    }
    .content-text {
        font-size: 16px;
        padding: 0.5em;
    }
    .quote {
        font-size: 15px;
    }
    .star {
        font-size: 15px;
    }
    .reviews-cont {
        width: 300px;
        height: 100px;
    }
}