a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}
body {
	margin: 0; padding: 0;
    height: 100%; width: 100%;
    background-color: #151515;
    background-image: url('../img/bg.png');
}
h1,h2 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    margin: 0; padding: 0;
    text-shadow: 1px 1px 5px #000;
    text-align: center;
    text-transform: uppercase;
}
h1 {
    font-size: 4em;
    text-transform: uppercase;
    color: #fff;
}
h2 {
    font-size: 2em;
    color: inherit;
}
hr {
    margin: 30px 40% 30px 40%;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
}
html {
	height: 100%;
}
p {
    font-family: 'Cantarell', sans-serif;
    font-size: 0;
    margin: 0;
    text-align: center;
}

/* General */
.container {
    width: 100%; height: 100%;
}

/* Navbar */
.navBar {
    width: 100%; height: 100px;
    position: absolute;
    top: 0; left: 0;
    text-align: center;
    padding: 1em 0;
    background: #303030;
}
.navBarCenter {
    width: 100%; height: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.navLogo {
    height: 80px; width: 80px;
    margin: 5px 5px 5px 100px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    background-image: url('../img/uuoohh.gif');
    background-size: cover;
    background-position: center;
}

/* Content */
.content {
    width: 100%;
    text-align: center;
    padding-top: 132px;
}
.vid {
    height: 240px;
    width: 426px;
    display: inline-block;
    vertical-align: top;
    margin: 1em;
}
.item {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.3s;
}
.item:hover {
    opacity: 0.6;
}
.item.screenshot {
    background-image: url('../store/ss.png');
}
.item.cunny {
    background-image: url('../store/cunny.png');
}